h2 {
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 0.5em;
} 

main {
    padding-block: 1.5rem;
}

main > section {
    margin-bottom: 1rem;
}

main > * {
    max-width: 25rem;
    margin-inline: auto;
}

#contact-info .wrapper {
    border-radius: 2rem;
    background-color: white;
    box-shadow: 
        0 1px 4px 0px rgba(0 0 0 / 10%);
    padding: 0.5rem 2rem;
}
.wrapper section {
    margin-bottom: 1em;
}

.wrapper h3 {
    line-height: 1.5em;
    padding-block: 0.5rem;
}

span.icon svg {
    height: 1rem;
}

.wrapper h3, .wrapper p {
    display: block;
    text-align: center;
    font-weight: bold;
}

.wrapper p {
    padding-block: 0.5em;
    font-weight: normal;
    border-radius: 1em;
    background-color: rgba(0 0 0 / 7%);
}

#get-in-touch p {
    line-height: 1.4em;
    text-align: justify;
}

#get-in-touch form {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    max-width: 100%;
}

#nome, #email, #curso, #mensagem-adic, #assunto {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.8em;
    margin-block: 0.3em 1em;
    box-shadow: 
        0 1px 4px 0px rgba(0 0 0 / 10%);
}

#mensagem-adic {
    resize: none;
    min-height: 8lh;
}

main #get-in-touch button.rounded {
    border-radius: 0.3rem;
}

@media screen and (min-width: 40rem) {
    main #contact-info {
        flex-grow: 1;
        margin-inline: 0;
    }

    main #get-in-touch { 
        flex-grow: 1;
        flex-basis: 20rem;
        margin-inline: 0;
        margin-left: 3rem;
    }

    body main.pd-sides {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-inline: 2rem;
    }
}