html {
    min-width: 200px;
    overflow: auto;
}

body {
    background-color: #eee;
}

main {
    min-height: 10vh;
}

.pd-sides {
    padding-inline: 1.5em;
}

@media screen and (min-width: 60rem) {
    .wide-wrapper {
        max-width: 70rem;
        margin-inline: auto;
    }
}

a.btn {
    text-decoration: none;
    color: initial;
}

main .btn, button.rounded {
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 0.8em 2rem;
    display: block;
    background-color: #1f29ac;
    margin-block: 2rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

main button.rounded, .rounded {
    border-radius: 0.7em;
}

.btn button {
    width: 100%;
    font-size: 1.2rem;
    color: inherit;
    font-weight: bold;
}