<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Footer component</title>

    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="../css/reset.css">

    <!-- APENAS PARA TESTES -->
     <!-- <link rel="stylesheet" href="test.css"> -->
  </head>
  <body>
    <header></header>
    <main></main>
    <footer class="pd-sides">
      <section id="footer-wrapper">
        <section id="footer-banner">
          <img src="../resources/Logo-SENAI.svg">
        </section>
        <div id="footer-content-wrapper">
          <section id="footer-content-container">
  
            <section class="footer-content">
              <div class="title-container">
                <h2 class="title">Acesso Rápido</h2>
              </div>
              <ul class="">
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">Unidades</a></li>
              </ul>
            </section>
            <section class="footer-content">
              <div class="title-container">
              <h2 class="title">Cursos Oferecidos</h2>
              </div>
              <ul class="">
                <li><a href="#">Elétrica</a></li>
                <li><a href="#">Eletrônica</a></li>
                <li><a href="#">Informática</a></li>
                <li><a href="#">Mecânica Automotiva</a></li>
                <li><a href="#">Mecânica Industrial</a></li>
              </ul>
            </section>
            <section class="footer-content">
              <div class="title-container">
                <h2 class="title">SAC</h2>
              </div>
              <ul class="">
                <li>Telefone: 0800-100-0880</li>
                <li>WhatsApp: 27 99841-2270</li>
                <li></li>
              </ul>
            </section>
  
          </section>
        </div>
      </section>
      <section id="footer-copyright">
        <span>© 2025 SENAI</span>
        <span>Desenvolvido por Thiago Moura Baiense</span>
        <span>Todos os direitos livres HUEHUEBRBR</span>
      </section>
    </footer>
  </body>
</html>
